body {
    margin: 0;
    background-color: #c3c5c2;
}

.todoList {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.todoList__name {
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-shadow:
      0 0 rgb(7, 37, 37),
      0 0 rgb(7, 37, 37),
      0 0  rgb(7, 37, 37);
    color: transparent;
    transition: all 1s;
}

.todoList__name:hover {
    text-shadow:
    -400px 0 rgb(13, 22, 59),
    400px 0 rgb(13, 22, 59),
    0 0 rgb(13, 22, 59);
}


.todoList_second {
    margin-top: 30px;
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

.todoList_input-container {
    position: relative;
    display: inline-block;
}

.todoList_input {
    border: 1px solid #888888;
    padding: 15px 20px;
    height: 30px;
    width: 300px;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    border-radius: 5px;
   
}
    
.todoList_input:focus {
    border: 2px solid #2b7522;
    outline: 0;
    box-shadow: 0px 0px 0px 1px #888888, 0px 0px 10px #888888;
}

.todoList_btn {
    position: absolute;
    padding: 5px 15px;
    background-color: rgb(57 111 107);
    color: white;
    font-size: 30px;
    border: none;
    left: 285px;
    top: 9px;
    cursor: pointer;
}

.todoList_select {
    background-color: rgb(57 111 107);
    border: none;
    padding:  2px 50px 2px 8px;
    color: white;
    font-size: 20px;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    border-radius: 5px;
    border: none;
    outline: 0;
    appearance: none; 
    height: 60px;
    cursor: pointer;
}

.todoList_select:focus {
    box-shadow: 0px 0px 0px 1px #888888, 0px 0px 10px #888888 ;
}

.todoList_container {
    position: relative;
    display: inline-block;
}

.todoList_container::after {
    content: '';
    position: absolute;
    top: 45%;
    right: 15px;
    display: block;
    
    pointer-events: none;

    /*рисуем треугольник*/
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.4px 6px 0 6px;
    border-color: white transparent transparent transparent;
}

.todoList__map {
    text-decoration: none;
    width: 530px;
    padding: 10px;
    display: flex;
    background-color:rgb(218 231 223 / 46%);
    margin: 10px;
    position: relative;
}

.todoList__list {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: column;
}

.todoList__list:hover .todoList__basket{
    display: block;
}

.todoList__list:hover .todoList__added{
    display: block;
}

.todoList__todo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}


/* Фон сайта */

.vanta {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 200.1%;
    z-index: -2;
}



.todoList__basket{
    position: absolute;
    left: 464px;
    top: 5px;
    display: none;
}

.todoList__added {
    position: absolute;
    left: 505px;
    top: 5px;
    display: none;
}



/* Адаптив */

@media screen and (max-width: 1870px) {
    
    .todoList__todo {
        margin-top: 85px;
    }
}

@media screen and (min-width: 590px) and (max-width: 640px) {


    .todoList_input {
        width: 275px;
    }

    .todoList_btn {
        left: 262px;
    }

    .todoList_select {
        padding: 2px 47px 2px 8px;
    }

    .todoList_second {
        gap: 30px;
    }

    .todoList__map {
        width: 494px;
    }

    .todoList__basket {
        left: 441px;
    }

    .todoList__added {
        left: 478px;
    }
}

@media screen and (min-width: 499px) and (max-width: 589px) {

    .todoList__name {
        font-size: 25px;
    }

    .todoList_input {
        width: 202px;
        height: 25px;
        font-size: 17px;
    }

    .todoList_btn {
        left: 197px;
        font-size: 21px;
        top: 12px;
        padding: 5px 13px;
    }

    .todoList_select {
        padding: 2px 32px 2px 8px;
        height: 55px;
        font-size: 18px;
    }

    .option {
        font-size: 18px;
    }

    .todoList_second {
        gap: 20px;
    }

    .todoList__map {
        width: 393px;
        font-size: 14px;
    }

    .todoList__basket {
        left: 343px;
        top: 7px;
    }
    
    .basket {
        height: 25px;
    }

    .todoList__added {
        left: 378px;
        top: 7px;
    }

    .added {
        height: 25px;
    }

}

@media screen and (min-width: 420px) and (max-width: 498px) {

    .todoList__name {
        font-size: 22px;
    }

    .todoList_input {
        width: 155px;
        height: 18px;
        font-size: 15px;
    }

    .todoList_btn {
        left: 159px;
        font-size: 16px;
        top: 12px;
        width: 10px;
    }

    .option {
        font-size: 16px;
    }

    .send {
        display: flex;
        justify-content: center;
    }


    .todoList_select {
        padding: 2px 28px 2px 8px;
        height: 49px;
        font-size: 15px;
    }

    .todoList_second {
        gap: 18px;
    }

    .todoList__map {
        width: 319px;
        font-size: 13px;
    }

    .todoList__basket {
        left: 277px;
        top: 7px;
    }

    .basket {
        height: 25px;
    }

    .todoList__added {
        left: 307px;
        top: 7px;
    }

    .added {
        height: 25px;
    }
    .todoList_container::after {
        border-width: 7.4px 5px 0 5px;
    }

}

@media screen and (min-width: 360px) and (max-width: 419px) {

    .todoList__name {
        font-size: 20px;
    }

    .todoList_input {
        width: 113px;
        height: 13px;
        font-size: 13px;
        padding-left: 9px;
    }

    .todoList_btn {
        left: 113px;
        font-size: 14px;
        top: 10px;
        width: 10px;
        padding: 4px 12px;
    }

    .send {
        display: flex;
        justify-content: center;
    }


    .todoList_select {
        padding: 2px 30px 2px 8px;
        height: 43px;
        font-size: 13px;
    }

    .option {
        font-size: 13px;
    }

    .todoList_second {
        gap: 20px;
    }

    .todoList__map {
        width: 271px;
        font-size: 12px;
        padding: 6px;
        margin: 6px;
    }

    .todoList__basket {
        left: 223px;
        top: 4px;
    }

    .basket {
        height: 20px;
    }

    .todoList__added {
        left: 252px;
        top: 4px;
    }

    .added {
        height: 20px;
    }
    .todoList_container::after {
        border-width: 7.4px 5px 0 5px;
    }
}

